<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <p style="color:black; font-weight: bold; display: inline-block; margin-top: 1%;">&copy; {{ currentYear }} ProEducation. All rights reserved.</p>
      <div class="social-icons">
        <h6 class="footer-title">Social Media</h6>
        <a href="//" class="social">
          <fa-icon [icon]="faYoutube" size="sm"></fa-icon>
        </a>
        <a href="//" class="social">
          <fa-icon [icon]="faFacebook" size="sm"></fa-icon>
        </a>
        <a href="//" class="social">
          <fa-icon [icon]="faTwitter" size="sm"></fa-icon>
        </a>
      </div>
    </span>
  </div>
</footer>
